<td><%= link_to user.name, user %></td>
<td><%= link_to user.email, user %></td>
<td><%= link_to user.odin_username, user %></td>
<td><%= link_to user.odin_password, user %></td>
<td><%= link_to user.odin_active, user %></td>
<td><%= link_to user.ld_username, user %></td>
<td><%= link_to user.ld_password, user %></td>
<td><%= link_to user.ld_active, user %></td>